h1{
    color: #F26925;
    margin-left: 5%;
}

.inner-container {
    
    margin-left: 5%;
    margin-right: 5%;
    border-color: #474C55;

}

.container{
    border-color: #474C55;
}

header{
    height: 36px;
    background-color:#F26925;
    border-radius: 10px;
}

.btn {
    min-width: 30%;
    background-color: #F26925;
    border-color: #F26925;
    color: #FFFFFF;
    border-radius: 28px;
    padding-left: 30px; 
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    font-family: 'Futura-PT';
    font-size: 15px;
    font-weight: 700;
    margin-left: 32%;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #FFFFFF;
    color: #FCB414;
    box-shadow: none;
}

dl {
    border-style: solid;
    border-radius: 8px;
    border-color: #474C55;
}

.anchor-container {

    padding-bottom:3%;
    border-bottom: solid;
    margin: 4%;
    border-color: #474C55;    
    
}



#label {
    font-family: 'Futura-PT';
    font-size: 24px;
    width: 72%;
    float: left;
    padding-left:3%;
    font-weight: 700;

}

#date {
    font-family: 'Futura-PT';
    font-size: 24px;
    padding-left:3%;
    font-weight: 700;
}

a {
    color: #F26925;
    font-size: 20pt;
    width: 75%;
    float:left;
    
}

#latest-post{
    
    position: relative;
    right: 1%;
    margin-left: 5%;
    font-family: 'Futura-PT';
    padding-left: 5px;
    font-size: 9pt;
    
}