<div class="paddingClass">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary btn-lg">Take Quiz</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary btn-lg">Manage Question</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-primary btn-lg">View Leaderboard</button>
                </div>
            </div>

        </ol>
    </nav>

    <br>
    <br>
    <br>

    <div class="accordion" id="accordionExample">
        <div class="card-header" id="headingOne">
            <p>
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample1">
             Update Question
            </button>
            </p>
            <div id="collapseExample1" [ngbCollapse]="isCollapsed">
                <div class="card">
                    <div class="card-body">
                        You can collapse this card by clicking Toggle
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header" id="headingTwo">
            <p>
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample2">
             Update Correct Answer
            </button>
            </p>
            <div id="collapseExample2" [ngbCollapse]="isCollapsed">
                <div class="card">
                    <div class="card-body">
                        You can collapse this card by clicking Toggle
                    </div>
                </div>
            </div>
        </div>

        <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample3">
             Update Explanation
            </button>
        </p>
        <div id="collapseExample3" [ngbCollapse]="isCollapsed">
            <div class="card">
                <div class="card-body">
                    You can collapse this card by clicking Toggle
                </div>
            </div>
        </div>
    </div>


</div>