#revature-image {
    margin-left: 10%;
    height: 100%;
    width: 25%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

button {
    border-color: #F26925;
    color: #F26925;
    
}

#navbar {
    height: 80px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}