<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-lg" [routerLink]="['../take-quiz']">TAKE QUIZ</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-lg" [routerLink]="['../manage-question']">MANAGE QUESTION</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <button type="button" class="btn btn-lg" [routerLink]="['../leaderboard']">VIEW LEADERBOARD</button>
            </div>
        </div>

    </ol>
</nav>
<div class="paddingClass">

   
    <p></p>

    <p></p>
    <p></p>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Take a Look of the Categories of Quizzes Available!</a>

        <div>
            <div>Select Category</div>
            <select #selection [(ngModel)]="selected" (change)="search(selection.value)">
                <option *ngFor="let category of categories" 
                        value="{{category.category}}">{{category.category}}</option>
           </select>

        </div>

    </nav>

    <p></p>

    <div class="card-body">
        <div> Instructions for {{ selected }} Quiz </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">When taking the quiz you will be able to see how much time you have remaining</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">When you have completed the quiz click finish button to record your answers</th>
                    </tr>
                    <tr>
                        <th scope="row">You will receive marks on completion of the quiz</th>
                    </tr>
                    <tr>
                        <th scope="row">You can rate this quiz after completion</th>
                    </tr>
                    <tr>
                        <th scope="row">The answer to each question will be available to view after completion</th>
                    </tr>
                    <tr>
                        <th scope="row">After Completion you can context via a review form an answer or explanation to any question</th>
                    </tr>
                    <tr>
                        <th scope="row">Do not forget to check on the leaderboard your evolution in {{ selected }} category </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <p></p>
        <p></p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                <button type="button" class="btn btn-lg" (click)="startQuiz(selected)">START QUIZ</button>
            </ol>
        </nav>
    </div>



</div>