.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

.paddingClass{
    padding: 20px;
}

#path0 {
    vertical-align: middle;
    margin-top: 2.5%;
}

.btn {
    background-color: #F26925;
    border-color: #F26925;
    color: #FFFFFF;
    border-radius: 28px;
    padding-left: 30px; 
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    font-family: 'Futura-PT';
    font-size: 15px;
    font-weight: 700;
    width: 80%;
    position: relative; 
    /* left: 10%; */
}

.btn:hover, .btn:active, .btn:focus {
    background-color: #FFFFFF;
    color: #FCB414;
    box-shadow: none;
}