<div id="outer-container">
    <br>

    <body>
        <div class="container">
            <div class="form">
                <h1 class="title">{{title}}</h1>
                <form name="login" action="login" method="POST" class="login-form">
                    <label class="label" id="label-username" for="username">Username:</label>
                    <input name="username" id="username" type="text" class="form-control" [(ngModel)]="username"
                        placeholder="username" />

                    <br>

                    <label class="label" id="label-password" for="password">Password:</label>
                    <input name="password" id="password" type="password" class="form-control" [(ngModel)]="password"
                        placeholder="password" />

                    <br>

                    <label class="label" id="label-fullname" for="fullName">Full Name:</label>
                    <input name="fullName" id="fullName" type="text" class="form-control" [(ngModel)]="fullName"
                        placeholder="Full Name">

                    <br>

                    <label class="label" od="label-email" for="email">email: </label>
                    <input name="emailName" id="email" type="text" class="form-control" [(ngModel)]="emailName"
                        placeholder="email">

                    <br>
                    <button name="backtologin" id="backtologin" type="button" class="btn btn-lg"
                        (click)="onBack()">{{ backtologin | uppercase }}
                    </button>
                    <button name="register" id="register" type="button" class="btn btn-lg"
                        (click)="onRegister()">{{ register | uppercase }}
                    </button>
                </form>
            </div>
        </div>
    </body>
</div>