<div class="paddingClass">
    <br>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 1</th>
                </tr>
            </thead>
            <tbody>
                <label>Question1 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question1" value="question1answer1" ng-model="formData.question1">question1answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question1" value="question1answer2" ng-model="formData.question1">question1answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question1" value="question1answer3" ng-model="formData.question1">question1answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 2</th>
                </tr>
            </thead>
            <tbody>
                <label>Question2 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question2" value="question2answer1" ng-model="formData.question2">question2answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question2" value="question2answer2" ng-model="formData.question2">question2answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question2" value="question2answer3" ng-model="formData.question2">question2answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 3</th>
                </tr>
            </thead>
            <tbody>
                <label>Question3 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question3" value="question3answer1" ng-model="formData.question3">question3answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question3" value="question3answer2" ng-model="formData.question3">question3answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question3" value="question3answer3" ng-model="formData.question3">question3answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 4</th>
                </tr>
            </thead>
            <tbody>
                <label>Question4 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question4" value="question4answer1" ng-model="formData.question4">question4answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question4" value="question4answer2" ng-model="formData.question4">question4answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question4" value="question4answer3" ng-model="formData.question4">question4answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 5</th>
                </tr>
            </thead>
            <tbody>
                <label>Question5 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question5" value="question5answer1" ng-model="formData.question2">question5answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question5" value="question5answer2" ng-model="formData.question2">question5answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question5" value="question5answer3" ng-model="formData.question2">question5answer3</label>
                    </div>
                </div>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 6</th>
                </tr>
            </thead>
            <tbody>
                <label>Question6 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question6" value="question6answer1" ng-model="formData.question6">question6answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question6" value="question6answer2" ng-model="formData.question6">question6answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question6" value="question6answer3" ng-model="formData.question6">question6answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 7</th>
                </tr>
            </thead>
            <tbody>
                <label>Question7 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question7" value="question7answer1" ng-model="formData.question7">question7answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question7" value="question7answer2" ng-model="formData.question7">question7answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question7" value="question7answer3" ng-model="formData.question7">question7answer3</label>
                    </div>
                </div>
            </tbody>
        </table>
        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 8</th>
                </tr>
            </thead>
            <tbody>
                <label>Question8 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question8" value="question8answer1" ng-model="formData.question8">question8answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question8" value="question8answer2" ng-model="formData.question8">question8answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question8" value="question8answer3" ng-model="formData.question8">question8answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 9</th>
                </tr>
            </thead>
            <tbody>
                <label>Question9 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question9" value="question9answer1" ng-model="formData.question9">question9answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question9" value="question9answer2" ng-model="formData.question9">question9answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question9" value="question9answer3" ng-model="formData.question9">question9answer3</label>
                    </div>
                </div>
            </tbody>
        </table>

        <br>

        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col"> Question 10</th>
                </tr>
            </thead>
            <tbody>
                <label>Question10 Content</label>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="question10" value="question10answer1" ng-model="formData.question10">question10answer1</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question10" value="question10answer2" ng-model="formData.question10">question10answer2</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="question10" value="question10answer3" ng-model="formData.question10">question10answer3</label>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <button type="button" class="btn btn-lg" (click)="submitQuiz(selected)">Submit</button>
            <button type="button" class="btn btn-lg" (click)="saveQuiz(selected)">Save</button>
        </ol>
    </nav>
</div>