<div class="paddingClass">
    <br>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
            <dt *ngFor="let question of questions, let i = index">
                <thead>
                    <tr>
                        <th scope="col"> Question {{i}}</th>
                    </tr>
                </thead>
                <tbody>
                    <label>{{question.questionName}}</label>
                    <div class="form-group">
                        <div class="radio">
                            <label><input type="radio" name="question1" value="question1answer1"
                                    ng-model="formData.question1">question1answer1</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="question1" value="question1answer2"
                                    ng-model="formData.question1">question1answer2</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="question1" value="question1answer3"
                                    ng-model="formData.question1">question1answer3</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="question1" value="question1answer3"
                                    ng-model="formData.question1">question1answer3</label>
                        </div>
                    </div>
                </tbody>
            </dt>
        </table>


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <button type="button" class="btn btn-lg" (click)="submitQuiz(selected)">SUBMIT</button>
                <button type="button" class="btn btn-lg" (click)="saveQuiz(selected)">SAVE</button>
            </ol>
        </nav>
    </div>
</div>