.breadcrumb {
    align-items: center;
    justify-content: center;
}

.btn {
    min-width: 30%;
    background-color: #F26925;
    border-color: #F26925;
    color: #FFFFFF;
    border-radius: 28px;
    padding-left: 30px;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    font-family: 'Futura-PT';
    font-size: 15px;
    font-weight: 700;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #FFFFFF;
    color: #FCB414;
    box-shadow: none;
}