<div class="container">
    <br>
    <div class="header-container">
        <h1>Leaderboard for: {{selected}}</h1>
    </div>
    <select #selection [(ngModel)]="selected" <!--(change)="search(selection.value)" -->>
            <option *ngFor="let option of options" [value]="option">
                {{ option }}
            </option>
        </select>
    <div class="inner-container">
        <table id="myTable" class="table table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col">Place</th>
                    <th scope="col">User</th>
                    <th scope="col">Score</th>
                    <th scope="col">Time Taken</th>
                </tr>
            </thead>
            <tbody *ngFor = "let board of lboard, let i = index">
                <tr *ngIf = "board.cat.category === selected">
                    <td> {{i + 1}} </td>
                    <td>{{board.username}}</td>
                    <td>{{board.quizScore}}</td>
                    <td>{{board.timeTaken}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>