<div class="container">

    <div id = "quiz">
        <h2>Take a quiz!</h2>
        <button name="quiz" id="quizbtn" class="btn btn-lg" (click)="toQuiz()">TO QUIZZES</button>
    </div>
    <div id = "resources">
        <h2>Look at resources</h2>
        <button name="resources" id="resoucesbtn" class="btn btn-lg" (click)="toResources()">TO RESOURCES</button>
    </div>
    <div id = "forum">
        <h2>Talk on the forum</h2>
        <button name="forum" id="forumbtn" class="btn btn-lg" (click)="toForums()">TO FORUMS</button>
    </div>
</div>