<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-lg" [routerLink]="['../take-quiz']">Take Quiz</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-lg" [routerLink]="['../manage-question']">Manage Question</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <button type="button" class="btn btn-lg" [routerLink]="['../leaderboard']">View Leaderboard</button>
            </div>
        </div>

    </ol>
</nav>
<div class="paddingClass">

    
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-block" [routerLink]="['../create-question']">Create Question</button>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-block" [routerLink]="['../update-question']">Update Question</button>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-block" [routerLink]="['../delete-question']">Delete Question</button>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-block" [routerLink]="['../view-question']">View Questions</button>




</div>