.btn-primary {
    background-color: #F26925;
    border-color: #F26925;
    color: #FFFFFF;
}

.btn-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    align-items: center;
    justify-content: center;
}

.mytable {
    position: absolute;
    height: 200px;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}