<div class="paddingClass">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Manage Question</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete Question</li>
        </ol>
    </nav>
    <p></p>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Please select the category of the question you want to delete</a>

        <div>
            <div>Select Category</div>
            <select #selection [(ngModel)]="selected" (change)="search(selection.value)">
                <option *ngFor="let option of options" 
                        [value]="option"> 
                  {{ option }}
                </option>
           </select>

        </div>

    </nav>

    <p></p>

</div>