<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<!-- DataSource Information -->
		<property name = "hibernate.connection.url">jdbc:postgresql://robert1909java.czidvue6d2kq.us-east-2.rds.amazonaws.com:5432/postgres?</property>
		<property name = "hibernate.connection.username">postgres</property>
		<property name = "hibernate.connection.password">1909robert</property>
		
		<mapping class = "com.revature.pojo.User"/>
		<mapping class = "com.revature.pojo.Post"/>
		<mapping class = "com.revature.pojo.ForumThread"/>
	</session-factory>
</hibernate-configuration>
